@media screen and (max-width: 1080px) {

    // Content Advantager
    .content__advantager-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }


    // Content Slider
    .content__slider-wrapper {
        grid-auto-columns: calc( (100% - 24px) / 2 );
    }



    .content__services-tab-items-wrapper {
        grid-template-columns: none;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
        row-gap: 24px;
    }


    // Footer Botom
    .footer__bottom-container {
        flex-direction: column;

    }
}