@font-face {
    font-family: 'ReformaGroteskC';
    src: url("../fonts/Reformagroteskdemic.otf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ReformaGroteskC';
    src: url("../fonts/Reformagroteskboldc.otf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ReformaGroteskC';
    src: url("../fonts/Reformagroteskmediumc.otf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}